<div class="row top-buffer">
<%= form_for @user do |f|%>
  <div class="col-sm-6 col-md-1"><%= f.label :username %></div>
  <div class="col-sm-6 col-md-3"><%= f.text_field :username %></div>

  <div class="col-sm-6 col-md-1"><%= f.label :password %></div>
  <div class="col-sm-6 col-md-3"><%= f.password_field :password %></div>

  <div class="col-sm-6 col-md-3"><%= f.submit %></div>
<% end %>
</div>
