<!-- # <%= render partial: 'navigation'%> -->

<h3>All users</h3>

<ul>
  <% @users.each do |user| %>
    <li class="list-group-item col-xs-6 col-sm-4">
    <a class="clik" href="/users/<%= user.id %>"><%= user.username %></a>
    </li>
  <% end %>
</ul>
<div class="sqclik"></div>

<!-- # <% @users.each do |user| %>
#
#   <li class="big">
#     <%= user.username %> :
#     <% user.squaks.each do |squak| %>
#       <% if squak.message.length > 1 %>
#         <%= squak.message %>
#       <% end %>!!!
#
#     <% end %>
#   </li>
#
# <% end %> -->

<script>
$('.clik').click(function() {

});
</script>
