<%= render partial: 'navigation'%>
<h1><%= @user.username %>... is logged in</h1>

<ul>
  <% @user.squaks.each do |squak| %>
    <li>
      <%= form_tag("/squaks/#{ squak.id }", method: :delete) do %>
        <%= submit_tag "squak destruction"%>
      <% end %>
      <%= squak.message %>
    </li>
  <% end %>
</ul>


<%= form_tag('/log_out', method: :delete) do %>
  <%= submit_tag "Log-Outta Heyaaa" %>
<% end %>

<%= form_for @squak do |f| %>
  <%= f.label :message %>:
  <%= f.text_field :message %>
  <%= f.submit %>
<% end %>
