<!-- # <%= render partial: 'navigation'%> -->

<h3><%= @user.username %></h3>

<li class="big"># of squaks:
<%= @user.squaks.count %>
</li>

<ul>

    <% @user.squaks.each do |squak| %>
    <li class>
      <% if (squak.message).length > 1 %>
        <%= squak.message %>
      <% else %>
      <%= "no squaks yet"  %>
      <% end %>!!!
    </li>
    <% end %>

<ul>
